{% extends "layout_unbranded.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block content %}

{% if errormessage %}
<div class="govuk-error-message">{{ errormessage }}</div>
{% endif %}

{% if successmessage %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% set html %}
  <h3 class="govuk-notification-banner__heading">
    {{ successmessage }}
  </h3>
{% endset %}

{{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}
{% endif %}


<form class="form" action="/add-employee" method="post">
    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
    {% from "govuk/components/select/macro.njk" import govukSelect %}

    {% call govukFieldset({
        legend: {
        text: "Add New Employee",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
        }
    }) %}

    {{ govukInput({
        label: {
        text: 'Name'
        },
        classes: "govuk-!-width-two-thirds",
        id: "name",
        name: "name",
        value: data["name"]
    }) }}

    {{ govukInput({
        label: {
        text: 'Address'
        },
        classes: "govuk-!-width-two-thirds",
        id: "address",
        name: "address",
        value: data["address"]
    }) }}

    {{ govukInput({
        label: {
          text: "Post Code"
        },
        classes: "govuk-input--width-10",
        id: "postcode",
        name: "postcode"
    }) }}

    {{ govukInput({
        label: {
        text: 'Starting Salary'
        },
        classes: "govuk-input--width-10",
        id: "startingsalary",
        name: "startingsalary",
        value: data["startingsalary"]
    }) }}

    {{ govukInput({
        label: {
        text: "Bank Account Number"
        },
        classes: "govuk-input--width-10",
        id: "banknumber",
        name: "banknumber",
        value: data["bank-number"]
    }) }}

    {{ govukInput({
        label: {
        text: "National Insurance Number"
        },
        classes: "govuk-input--width-10",
        id: "nin",
        name: "nin",
        value: data["nin"]
    }) }}

    {{ govukSelect({
        id: "department",
        name: "department",
        label: {
        text: "Department"
    },
        items: [
            {
            value: "sales",
            text: "SALES"
            },
            {
            value: "hr",
            text: "HR",
            selected: true
            },
            {
            value: "talent",
            text: "TALENT"
            },
            {
            value: "finance",
            text: "FINANCE"
            }
        ]
    }) }}

    <button class="govuk-button" data-module="govuk-button">ADD</button>

    {% endcall %}
</form>

{% endblock %}
